$font-stack:    Helvetica, sans-serif;
$background-color: #2a2d34;
$color-primary-1: #fff;
$color-primary-2: #f6f7eb;
$color-secondary-1: #787878;
$color-highlight-1: #f26430;
$color-highlight-2: #009ddc;

html,body {
  background-color: $background-color;
}
	
body {
  font: 100% $font-stack;
  color: $color-primary-1;
  padding: 1rem;

	a:visited {
		color: $color-primary-2;
	}

	a:link, a:hover, a:active {
		color: $color-highlight-1;
	}

	.title {
		color: $color-primary-1;
	}

	.subtitle {
		margin-bottom: 1rem;
		color: $color-primary-2;
	}

	.icon-row {
		display: flex;
		align-items: center;
	}

	.overview {
		.subtitle {
			color: $color-highlight-2;
		}
		.skills {
			.subtitle {
				margin-top: 1rem;
				margin-bottom: 0.3rem;
			}
			li {
				display: flex;
				justify-content: flex-start;
			}
			.stars{
				margin-left: auto;
				align-self: right;
			}
			.star:before{
				content: "★"; 
			}
			.highlighted {
				color: red; 
			}
		}
	}

	.section {
		padding: 0;
	}

	.cv {
		.section {
			.subtitle {
				color: $color-highlight-1;
			}
			margin-bottom: 2rem;
		}

		.entry {
			display: grid;
			grid-template-columns: 1fr 5fr;
			grid-template-rows: repeat(3, auto);
			margin-bottom: 0.7rem;
			grid-template-areas:
				"time name"
				". location"
				". description";

			.name {
				grid-area: name;
				color: $color-primary-1;
				font-size: 1.2em;
				margin-bottom: 0.1rem;
			}
			.time {
				grid-area: time;
				margin-right: 0.5rem;
			}
			.location {
				grid-area: location;
				color: $color-secondary-1;
				font-style: oblique;
				margin-bottom: 0.5rem;
			}
			.description {
				grid-area: description;
				color: $color-primary-2;
			}
		}
	}
}
